* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f6f6f6;
}
.container:hover{
    color: green;
}
.heading {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    width: 280px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.price {
    color: green;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn {
    background: #007bff;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}