body{
    font-family: Arial, Helvetica, sans-serif
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}
h3{
   text-align: center;
   padding: 20px;
   color: black; 
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    max-width: 1000px
    height: 400px;
    margin: auto;
    margin-left: 3px;
}
.product-item{
background-color: aliceblue;

border: 1px solid lightblue;
border-radius: 10px;
padding: 20px;
text-align: center;
}
.product-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
img{
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.price {
    color: green;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn {
    background: #007bff;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
p{
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}