* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 15px 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}